In [3]:
#練習12

import yfinance as yf
import pandas as pd

#國泰金(2882.TW),新光金(2888.TW),中信金(2891.TW),台新金(2887.TW)
all_data = {ticker:yf.download(ticker) for ticker in ['2882.TW','2888.TW','2891.TW','2887.TW']}

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
all_data1 = {ticker:df['Adj Close'] for ticker,df in all_data.items()}
prices_df = pd.DataFrame(all_data1)
prices_df.columns = ['國泰金','新光金','中信金','台新金']
prices_df1 = prices_df.dropna()
prices_df1_2023 = prices_df1.loc['2023']

In [5]:
#平均差
prices_df1_2023_avg_diff = prices_df1_2023.pct_change()
prices_df1_2023_avg_diff.dropna()

                 國泰金       新光金       中信金       台新金
Date
2023-01-04  0.000000  0.000000  0.009029  0.006623
2023-01-05  0.007509  0.009091  0.011186  0.013158
2023-01-06  0.012422  0.000000  0.000000 -0.003247
2023-01-09  0.030675  0.009009  0.024336  0.019544
2023-01-10 -0.007143  0.001116  0.000000  0.003195
...              ...       ...       ...       ...
2023-12-25  0.004479  0.000000  0.003604  0.002817
2023-12-26  0.007804  0.009206  0.005386  0.005618
2023-12-27  0.005531  0.011402  0.003571  0.002793
2023-12-28  0.007701  0.001127  0.010676  0.008357
2023-12-29 -0.001092 -0.003378 -0.001761  0.000000

[238 rows x 4 columns]

In [6]:
#平均差
def for_percent(value):
    value *= 100
    return f'{value:.3f}%'

prices_df1_2023_avg_diff = prices_df1_2023.pct_change()
df1 = prices_df1_2023_avg_diff.dropna()
df1.map(for_percent)

                國泰金      新光金      中信金      台新金
Date
2023-01-04   0.000%   0.000%   0.903%   0.662%
2023-01-05   0.751%   0.909%   1.119%   1.316%
2023-01-06   1.242%   0.000%   0.000%  -0.325%
2023-01-09   3.067%   0.901%   2.434%   1.954%
2023-01-10  -0.714%   0.112%   0.000%   0.319%
...             ...      ...      ...      ...
2023-12-25   0.448%   0.000%   0.360%   0.282%
2023-12-26   0.780%   0.921%   0.539%   0.562%
2023-12-27   0.553%   1.140%   0.357%   0.279%
2023-12-28   0.770%   0.113%   1.068%   0.836%
2023-12-29  -0.109%  -0.338%  -0.176%   0.000%

[238 rows x 4 columns]

In [10]:
#平均差
#平均差
def for_percent(value):
    value *= 100
    return f'{value:.3f}%'



prices_df1_2023_avg_diff = prices_df1_2023.pct_change()
df1 = prices_df1_2023_avg_diff.dropna()
df1.map(lambda value:for_percent(value))

                國泰金      新光金      中信金      台新金
Date
2023-01-04   0.000%   0.000%   0.903%   0.662%
2023-01-05   0.751%   0.909%   1.119%   1.316%
2023-01-06   1.242%   0.000%   0.000%  -0.325%
2023-01-09   3.067%   0.901%   2.434%   1.954%
2023-01-10  -0.714%   0.112%   0.000%   0.319%
...             ...      ...      ...      ...
2023-12-25   0.448%   0.000%   0.360%   0.282%
2023-12-26   0.780%   0.921%   0.539%   0.562%
2023-12-27   0.553%   1.140%   0.357%   0.279%
2023-12-28   0.770%   0.113%   1.068%   0.836%
2023-12-29  -0.109%  -0.338%  -0.176%   0.000%

[238 rows x 4 columns]

In [7]:
#每日差
prices_df1_2023_day_diff = prices_df1_2023 - prices_df1_2023.shift(1)
prices_df1_2023_day_diff.dropna()

                 國泰金       新光金       中信金       台新金
Date
2023-01-04  0.000000  0.000000  0.183739  0.086760
2023-01-05  0.283920  0.080000  0.229673  0.173517
2023-01-06  0.473206  0.000000  0.000000 -0.043380
2023-01-09  1.183006  0.080000  0.505280  0.260276
2023-01-10 -0.283920  0.010000  0.000000  0.043380
...              ...       ...       ...       ...
2023-12-25  0.193214  0.000000  0.095522  0.046482
2023-12-26  0.338139  0.080001  0.143282  0.092962
2023-12-27  0.241528  0.099999  0.095524  0.046482
2023-12-28  0.338131  0.010000  0.286564  0.139444
2023-12-29 -0.048302 -0.030000 -0.047760  0.000000

[238 rows x 4 columns]

In [8]:
#每日差
def formap(value):
    return round(value,ndigits=3)
prices_df1_2023_day_diff = prices_df1_2023 - prices_df1_2023.shift(1)
df2 = prices_df1_2023_day_diff.dropna()
df2.map(formap)

              國泰金   新光金    中信金    台新金
Date
2023-01-04  0.000  0.00  0.184  0.087
2023-01-05  0.284  0.08  0.230  0.174
2023-01-06  0.473  0.00  0.000 -0.043
2023-01-09  1.183  0.08  0.505  0.260
2023-01-10 -0.284  0.01  0.000  0.043
...           ...   ...    ...    ...
2023-12-25  0.193  0.00  0.096  0.046
2023-12-26  0.338  0.08  0.143  0.093
2023-12-27  0.242  0.10  0.096  0.046
2023-12-28  0.338  0.01  0.287  0.139
2023-12-29 -0.048 -0.03 -0.048  0.000

[238 rows x 4 columns]

In [11]:
#每日差
'''
def formap(value):
    return round(value,ndigits=3)
'''

prices_df1_2023_day_diff = prices_df1_2023 - prices_df1_2023.shift(1)
df2 = prices_df1_2023_day_diff.dropna()
df2.map(lambda value:round(value,ndigits=3))

              國泰金   新光金    中信金    台新金
Date
2023-01-04  0.000  0.00  0.184  0.087
2023-01-05  0.284  0.08  0.230  0.174
2023-01-06  0.473  0.00  0.000 -0.043
2023-01-09  1.183  0.08  0.505  0.260
2023-01-10 -0.284  0.01  0.000  0.043
...           ...   ...    ...    ...
2023-12-25  0.193  0.00  0.096  0.046
2023-12-26  0.338  0.08  0.143  0.093
2023-12-27  0.242  0.10  0.096  0.046
2023-12-28  0.338  0.01  0.287  0.139
2023-12-29 -0.048 -0.03 -0.048  0.000

[238 rows x 4 columns]

In [9]:
#相關係數
prices_df1_2023_avg_diff.corr()

          國泰金       新光金       中信金       台新金
國泰金  1.000000  0.611739  0.560722  0.549925
新光金  0.611739  1.000000  0.396487  0.410888
中信金  0.560722  0.396487  1.000000  0.518583
台新金  0.549925  0.410888  0.518583  1.000000